* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: white;
}

.terwin {
    z-index: 0;
    position: fixed;
    background-color: rgb(27, 27, 27);
    padding: 2rem;
    height: 60vh;
    width: 60vw;
    margin: 10rem;
    display: grid;
    font-size: 1rem;
    font-family: 'Spline Sans Mono', monospace;
    border-radius: 6px;
    line-height: 2.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.6s ease-in-out;
    border: 1px solid rgb(104, 104, 104);
}

.terwin:hover {
    cursor: text;
}

.user {
    color: cyan;
}

.in {
    color: white;
}

.loc {
    color: purple;
}

.carret {
    color: rgb(69, 205, 69);
}

.carretRed, .redTxt {
    color: rgb(255, 110, 78);
}

#wrapper {
    display: grid;
    justify-items: center;
}

.navbar {
    position: fixed;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: 'Spline Sans Mono', monospace;
    background-color: rgb(64, 64, 64);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: 1px solid rgb(115, 115, 115);
    transition: 0.6s ease-in-out;
    height: 2.5rem;
    width: 64.2vw;
    z-index: 1;
}

#title {
    width: 63vw;
    transition: 0.6s ease-in-out;
    text-align: center;
}

#nav {
    display: flex;
    margin: 0.3rem;
    position: absolute;
}

#nav:hover, .navbar:hover{
    cursor: pointer;
}

#nav div {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin: 0.3rem;
}
#navbar{
    background-color: rgba(57, 57, 57, 0.6);
    backdrop-filter: blur(18px);
}
#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#green {
    background-color: rgb(34, 173, 34);
}
#mylog{
    background-color: white;
    color: black;
}
input {
    width: 47vw;
    border: none;
    background-color: unset;
    outline: none;
    color: white;
    font-size: 1rem;
    font-family: 'Spline Sans Mono', monospace;
}

#name {
    margin-top: 2rem;
    text-align: center;
}

::-webkit-scrollbar {
    background-color: rgb(34, 34, 34);
    border-right: 1px solid rgb(115, 115, 115);
    border-radius: 16rem;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 70);
    width: 0.5rem;
    border-radius: 16rem;
}

.terwinFullScr {
    position: fixed;
    height: 94vh;
    width: 96vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(27, 27, 27);
    padding: 2rem;
    display: grid;
    font-size: 1.2rem;
    font-family: 'Spline Sans Mono', monospace;
    border: 1px solid rgb(104, 104, 104);
    transition: 0.6s ease-in-out;
    line-height: 2.4rem;
    z-index: 0;
}

.navbarFullScr {
    position: fixed;
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: 'Spline Sans Mono', monospace;
    border-top: 1px solid rgb(115, 115, 115);
    transition: 0.6s ease-in-out;
    height: 2.5rem;
    width: 100vw;
    z-index: 1;
}

.terwinFullScr #terminal {
    margin-left: 0.5rem;
}