* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: white;
}

.terwin {
    position: relative;
    background-color: rgb(27, 27, 27);
    padding: 2rem;
    height: 60vh;
    width: 70dvw;
    display: grid;
    font-size: 1rem;
    font-family: 'Spline Sans Mono', monospace;
    border-radius: 6px;
    line-height: 2.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.2s ease-in-out;
    border: 1px solid rgb(104, 104, 104);
}

.terwin:hover {
    cursor: text;
}

.user {
    color: cyan;
}

.in {
    color: white;
}

.loc {
    color: purple;
}

.carret, .greenTxt {
    color: rgb(69, 205, 69);
}

.carretRed, .redTxt {
    color: rgb(255, 110, 78);
}

.orangeTxt{
    color: rgb(231, 168, 49);
}

#wrapper {
    display: grid;
    justify-items: center;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: 'Spline Sans Mono', monospace;
    background-color: rgb(64, 64, 64);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: 1px solid rgb(115, 115, 115);
    transition: 0.2s ease-in-out;
    padding: .1rem;
    width: calc(70dvw + 4rem - 4px);
}

#navbar div{
    width: 20dvw;
}

#title {
    transition: 0.2s ease-in-out;
    text-align: center;
}

#nav {
    display: flex;
    margin: 0.3rem;
}

#nav div:hover{
    cursor: pointer;
}

.navbar:hover{
    cursor: normal;
}

#nav div {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin: 0.3rem;
}
#navbar{
    background-color: rgba(57, 57, 57, 0.6);
    backdrop-filter: blur(18px);
}
#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#green {
    background-color: rgb(34, 173, 34);
}
#mylog{
    background-color: white;
    color: black;
}
input {
    width: 43vw;
    border: none;
    background-color: unset;
    outline: none;
    color: white;
    font-size: 1rem;
    font-family: 'Spline Sans Mono', monospace;
}

#name {
    padding: 1.5rem;
    text-align: center;
}

::-webkit-scrollbar {
    background-color: rgb(34, 34, 34);
    border-right: 1px solid rgb(115, 115, 115);
    border-radius: 16rem;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 70);
    width: 0.5rem;
    border-radius: 16rem;
}

.terwinFullScr {
    position: absolute;
    top: 0;
    font-size: 1.2rem;
    height: calc(100dvh - 4px - 4rem);
    width: calc(100dvw - 4rem - 4px);
}

.navbarFullScr {
    width: calc(100dvw - 4px - .2rem);
}

.terwinFullScr #terminal {
    margin-left: 0.5rem;
}

.terwin_close{
    height: 0px;
    width: 20dvw;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar_close{
    width: calc(20dvw + 4rem - 4px);
}

#mylog{
    display: none;
}